<div class="bar bar-header header">
    <h1 class="title text-left" ui-sref="eventsList"><span><i class="icon icon-left ion-chevron-left"></i>
        <img src="img/logo1.png" alt="Logo" class="head-logo">
        <span>Koolbooking Events</span></span>
    </h1>
</div>

<div id="all">

    <div class="bar bar-header item-input-inset">
      <form role="form" name="searchForm" novalidate>
        <label class="item-input-wrapper">
          <i class="icon ion-ios-location placeholder-icon lc1"></i>
          <input type="text" name="searchTxt" placeholder="Search by location" autocomplete="off" ng-model="searchTxt" class="searchinput" required>
        </label>
        <span style="color:red" ng-show="searchForm.searchTxt.$dirty && searchForm.searchTxt.$invalid">
            <span ng-show="searchForm.searchTxt.$invalid">Enter the location</span>
        </span>
        <label class="item-input-wrapper">
          <i class="icon ion-ios-location placeholder-icon lc1"></i>
          <input type="date" name="start_date" placeholder="Start Date" ng-model="start_date" class="searchinput" required>
        </label>
        <span style="color:red" ng-show="searchForm.start_date.$dirty && searchForm.start_date.$invalid">
            <span ng-show="searchForm.start_date.$invalid">Select start date</span>
        </span>
        <label class="item-input-wrapper">
          <i class="icon ion-ios-location placeholder-icon lc1"></i>
          <input type="date" name="end_date" placeholder="End Date" ng-model="end_date" class="searchinput">
        </label>
        <button class="button button-positive" ng-disabled="!searchForm.$valid" 
          ng-click="filterEvents(start_date, end_date, searchTxt);">
          Search
        </button>
      </form>
    </div>

    <div class="list card eventslst" ng-repeat="event in eventsList">
        <div class="item item-image">
          <img class="full-image" ng-src="{{event.image_url}}">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive" ng-bind="event.post_title"></h5>
            <p>Events</p>
          </div>
          <div class="col">
            <button class="button button-small btneve" ui-sref="eventDetails({event_id: event.id})">Book</button>
          </div>
        </div>
    </div>

  </div>