
    <div class="bar bar-header header">
        <h1 class="title">
        <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventsList"> 
        <span>Koolbooking Events</span></h1>
    </div>

    <div id="all">

    <div class="searchheader item-input-inset">
      <form role="form" name="searchForm">
        <label class="item-input-wrapper fw1">
          <span class="sd">Start Date</span>
          <input type="date" name="start_date" placeholder="Start Date" ng-model="start_date" class="searchinput2">
        </label>
        <label class="item-input-wrapper fw2">
          <span class="sd">End Date</span>
          <input type="date" name="end_date" placeholder="End Date" ng-model="end_date" class="searchinput3">
        </label>
        <div class="row">
          <div class="col col-75">
            <input type="text" name="searchTxt" placeholder="Search by location" autocomplete="off" ng-model="searchTxt" class="searchinput1">
          </div>
          <div class="col">
            <button class="button button-small btneve btnevea" ng-click="filterEvents(start_date, end_date, searchTxt);">Search</button>
          </div>
        </div>
      </form>
    </div>

    <h4 ng-if="noRecords" class="text-center">No Records Found</h4>

     <div class="list card eventslst" ng-if="!noRecords" ng-repeat="event in eventsList">
       
       <div ng-if="event.adult_price">
          <div class="item item-image">
            <img class="full-image" ng-src="{{event.image_url}}">
          </div>
          <div class="row">
            <div class="col col-75">
              <h5 class="assertive" ng-bind="event.post_title"></h5>
              <p>Events</p>
            </div>
            <div class="col">
              <img src="img/book.png" alt="Book" ui-sref="eventDetails({event_id: event.id})" class="pull-right">
            </div>
          </div>
        </div>

    </div>

    <div ng-if="!noRecords" ng-repeat="activity in activitiesList">
      <div class="list card eventslst">
        <div class="item item-image">
          <img class="full-image" ng-src="{{activity.image_url}}">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive" ng-bind="activity.post_title"></h5>
            <p>Activity</p>
          </div>
          <div class="col">
            <button class="button button-small btneve" ui-sref="activityDetails({event_id: activity.id})">Book</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  