
    <div class="bar bar-header header">
        <h1 class="title">
        <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventsList({tab: 'tickets'})"> 
        <span>Events & Activities</span></h1>
    </div>

    <div id="all">

    <div class="searchheader item-input-inset">
      <form role="form" name="searchForm">
        <label class="item-input-wrapper fw1">
          <span class="sd">Start Date</span>
          <i class="icon ion-calendar placeholder-icon lc1"></i>
          <input type="date" name="start_date" placeholder="Start Date" ng-model="start_date" class="searchinput2">
        </label>
        <label class="item-input-wrapper fw2">
          <i class="icon ion-calendar placeholder-icon lc1"></i>
          <span class="sd">End Date</span>
          <input type="date" name="end_date" placeholder="End Date" ng-model="end_date" class="searchinput3">
        </label>
        <div class="row pl pl1">
          <div class="col col-75 pl">
            <select name="searchTxt" ng-model="searchTxt">
              <option value="0">Select Location</option>
              <option ng-repeat="location in address">{{::location}}</option>
            </select>
          </div>
          <div class="col pl1">
            <button class="button button-small btneve" ng-click="filterEventsActivities();">Search</button>
          </div>
        </div>
      </form>
    </div>

    <h4 ng-if="noRecords" class="text-center">No Records Found</h4>

     <div class="list card eventslst" ng-if="!noRecords" ng-repeat="event in eventsList">
       
       <div ng-if="event.adult_price">
          <div class="item item-image">
            <img class="full-image" ng-src="{{event.image_url}}">
          </div>
          <div class="row">
            <div class="col col-75">
              <h5 class="assertive" ng-bind="event.post_title"></h5>
              
            </div>
            <div class="col">
              <img src="img/book.png" alt="Book" ui-sref="eventDetails({event_id: event.id})" class="pull-right">
            </div>
          </div>
        </div>

    </div>

    <div ng-if="!noRecords" ng-repeat="activity in activitiesList">
      <div class="list card eventslst">
        <div class="item item-image">
          <img class="full-image" ng-src="{{activity.image_url}}">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive" ng-bind="activity.post_title"></h5>
          </div>
          <div class="col">
            <!-- <button class="button button-small btneve" ui-sref="activityDetails({event_id: activity.id})">Book</button> -->
            <img src="img/book.png" alt="Book" ui-sref="activityDetails({event_id: activity.id})" class="pull-right">
          </div>
        </div>
      </div>
    </div>

  </div>
  