
<div class="bar bar-header header">
    <h1 class="title">
    <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="yourBooking"> 
    <span>Review Order</span></h1>
</div>

<div id="booksub" class="padding">
    <h4>Order Details</h4>
    <p>Event Name <span class="pull-right">{{::event_name}}</span></p>
    <p>Event Date <span class="pull-right">{{::event_date | date: 'dd/MM/yyyy'}}</span></p>
    <p>Adult <br> Price ${{::adult_price}}, No. of Person {{::adult}} <span class="pull-right">${{adult * adult_price}}</span></p>
    <p ng-if="child > 0">Child <br> Price ${{::child_price}}, No. of Person {{::child}} <span class="pull-right">${{child * child_price}}</span></p>
    <p ng-if="infant > 0">Infant <br> Price ${{::infant_price}}, No. of Person {{::infant}} <span class="pull-right">${{infant * infant_price}}</span></p>
    
    <p><strong>Total</strong> 
      <strong class="pull-right">${{::amount}}</strong>
    </p>

    <button class="button button-block pay_btn lgbtn" ui-sref="payment">
      <span>Make payment</span>
    </button>

</div>
