    <div class="bar bar-header header">
      <h1 class="title">Event Details</h1>
      <i class="icon-left ion-chevron-left" ui-sref="eventsList"></i>
    </div>

    <div class="detailscontent">

        <img class="full-image" ng-src="{{event.image_url}}">
        <p>
          <button class="button button-block loginbtn lgbtn1" ui-sref="yourBooking({event_id: event.id})">
            <span>Book</span>
          </button>
      </p>
        <div class="venue">
            <p><span>Owner description :</span>&nbsp;&nbsp;Take advantage of some of the islands main attractions on this Snorkeling Island Adventure in Antigua! Enjoy a day of snorkeling, kayaking and sightseeing on this family-friendly excursion. </p>
            <p><span>Activity Type :</span>&nbsp;&nbsp;Specific Date</p>
            <p><span>Activity Time :</span>&nbsp;&nbsp;{{event.event_time}}</p>
            <p><span>Maximum number of people :</span>&nbsp;&nbsp;{{event.max_people}}</p>
            <p><span>Venue Facilities :</span>&nbsp;&nbsp;{{event.venue_facilities}} </p>
        </div>

    </div>
