<div class="bar bar-header header">
    <h1 class="title">Events</h1>
</div>

<div class="tabs tabs-icon-left tab11">
  <a class="tab-item tab1" ng-click="showCase()">
    <img src="img/showcase.png" class="scase">
    Showcase
  </a>
  <a class="tab-item tab2" ng-click="showTickets()">
    <img src="img/tickets.png" class="tick">
    Tickets
  </a>
  <a class="tab-item tab3" ng-click="showYou()">
    <img src="img/man.png" class="yu">
    You
  </a>
  <a class="tab-item tab4" ng-click="showDiscover()">
    <img src="img/discover.png" class="dis">
    Discover
  </a>
</div>

<div id="tabcontent">

<div id="showcase" ng-show="showcase" ng-controller="showcaseTabCtrl">
  
  <ion-slide-box does-continue="true" auto-play="true" show-pager="false">
  <ion-slide>
    <iframe src="https://www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen></iframe>
  </ion-slide>
  <ion-slide>
    <iframe src="https://www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen></iframe>
  </ion-slide>
  <ion-slide>
    <iframe src="https://www.youtube.com/embed/mcixldqDIEQ" frameborder="0" allowfullscreen></iframe>
  </ion-slide>
</ion-slide-box>

</div>

<div id="tickets" ng-show="tickets" ng-controller="ticketsTabCtrl">
  
  <div class="tabs tabs-icon-left tab13">
    <a class="tab-item tab8" ng-click="showAll()">
      <img src="img/all-icon.png" class="scase">
      All
    </a>
    <a class="tab-item tab9" ng-click="showEvents()">
      <img src="img/event-icon.png" class="tick">
      Events
    </a>
    <a class="tab-item tab10" ng-click="showActivity()">
      <img src="img/activity-icon.png" class="yu">
      Activity
    </a>
</div>

  <div id="all" ng-show="all">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-location placeholder-icon lc1"></i>
        <input type="text" name="searchTxt" placeholder="Search by location" autocomplete="off" ng-model="searchTxt">
      </label>
      <button class="button button-positive" ng-click="filterEvents(searchTxt);">
        Search
      </button>
    </div>

    <div class="list card eventslst" ng-repeat="event in eventsList">
        <div class="item item-image">
          <img class="full-image" ng-src="{{event.image_url}}">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive" ng-bind="event.post_title"></h5>
            <p>Events</p>
          </div>
          <div class="col">
            <button class="button button-small btneve" ui-sref="eventDetails({event_id: event.id})">Book</button>
          </div>
        </div>
    </div>

  </div>

  <div id="event" ng-show="event">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-location placeholder-icon lc1"></i>
        <input type="text" name="searchTxt" placeholder="Search by location" autocomplete="off" ng-model="searchTxt">
      </label>
      <button class="button button-positive" ng-click="filterEvents(searchTxt);">
        Search
      </button>
    </div>

    <div class="list card eventslst">
        <div class="item item-image">
          <img class="full-image" ng-src="img/ticket-img.png">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive">Life is beautiful</h5>
            <p>Events</p>
            <p>Nassa , New Providence, THe Bahamas</p>
            <p>Events type : Speific date</p>
            <p>Events date : 01/01/2016</p>
          </div>
          <div class="col">
            <button class="button button-small btneve" ui-sref="eventDetails({event_id: event.id})">Book</button>
          </div>
        </div>
    </div>

  </div>

  <div id="activity" ng-show="activity">

    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-location placeholder-icon lc1"></i>
        <input type="text" name="searchTxt" placeholder="Search by location" autocomplete="off" ng-model="searchTxt">
      </label>
      <button class="button button-positive" ng-click="filterEvents(searchTxt);">
        Search
      </button>
    </div>

    <div class="list card eventslst">
        <div class="item item-image">
          <img class="full-image" ng-src="img/ticket-img.png">
        </div>
        <div class="row">
          <div class="col col-75">
            <h5 class="assertive">Life is trends</h5>
            <p>Activity</p>
            <p>Nassa , New Providence, THe Bahamas</p>
            <p>Activity type : Speific date</p>
            <p>Activity date : 01/01/2016</p>
          </div>
          <div class="col">
            <button class="button button-small btneve" ui-sref="eventDetails({event_id: event.id})">Book</button>
          </div>
        </div>
    </div>

  </div>

</div>

<div id="you" ng-show="you" ng-controller="youTabCtrl">
  
  <div class="fullwidth text-center profile">
      <h1>
        <i class="icon ion-person-stalker"></i>
      </h1>
      <p>James Smith</p>
  </div>

  <div class="list">

  <a class="item item-icon-left pur" href="#">
    <i class="icon ion-refresh"></i>
    Purhase history
  </a>

</div>

</div>

<div id="discover" ng-show="discover">

  <div id="recommended" ng-show="recommended">

    <div class="list card eventslst" ng-repeat="featuredEvent in featuredEvents">
      <div class="item item-image">
        <img class="full-image" ng-src="{{featuredEvent.image_url}}">
      </div>
      <div class="row">
        <div class="col col-75">
          <h5 class="assertive" ng-bind="featuredEvent.post_title"></h5>
          <p>Events</p>
        </div>
        <div class="col">
          <button class="button button-small btneve" ui-sref="eventDetails({event_id: featuredEvent.id})">Book</button>
        </div>
      </div>
    </div>

  </div>

  <div id="trending" ng-show="trending">

    <div class="list card eventslst" ng-repeat="featuredEvent in featuredEvents">
      <div class="item item-image">
        <img class="full-image" ng-src="{{featuredEvent.image_url}}">
      </div>
      <div class="row">
        <div class="col col-75">
          <h5 class="assertive" ng-bind="featuredEvent.post_title"></h5>
          <p>Events</p>
        </div>
        <div class="col">
          <button class="button button-small btneve" ui-sref="eventDetails({event_id: featuredEvent.id})">Book</button>
        </div>
      </div>
    </div>
    
  </div>

  <div id="comingsoon" ng-show="comingsoon">

    <h4>Coming soon...</h4>
    
  </div>

    <div class="tabs tabs-icon-left tab12">
      <a class="tab-item tab5" ng-click="showRecommened()">
        Recommened
      </a>
      <a class="tab-item tab6" ng-click="showTrending()">
        Trending
      </a>
      <a class="tab-item tab7" ng-click="showComingsoon()">
        Coming soon
      </a>
    </div>

</div>

</div>