<ons-page>
  <ons-toolbar>
    <div class="left login">
      <ons-toolbar-button><i class="fa fa-angle-left"></i> </ons-toolbar-button>
    </div>
    <div class="center">UP <span>3</span> DJ JIME</div>
  </ons-toolbar>
      
  <ons-page>
    <ons-row class="personal-details">
      <h1>Personal Details</h1>
    </ons-row>

    <ons-row class="geological">
      <h1>The Geological Society of America  3300 Penrose Place</h1>
     
     <form method="get">
       <ul>
         <li>
            <input type="text" placeholder="Los Angeles">
         </li>
           <li>
            <input type="text" placeholder="California">
         </li>
           <li>
            <input type="text" placeholder="America">
         </li>
           <li>
            <input type="text" placeholder="90002">
         </li>
       </ul>
     </form>
     
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p> 
    </ons-row>
      
    <ons-row class="personal-details">
      <h1>Payment Details</h1>
    </ons-row>
      
    <ons-row class="geological">
      <h2>Subtotal<span>$120.00</span></h2>
      <h2>Internet handling fees <span>$0.00</span></h2>
      <h2>Book Smile<span>$2.00</span></h2>
      <h2>Total<strong>$140.00</storng></h2>  
    </ons-row>
      
    <div class="login-form event">
      <ons-button modifier="large" class="login-button sign-in" ui-sref="finalPayment({event_id: event.id})">Payment Now</ons-button>
    </div>    
  </ons-page>
</ons-page>
