    <div class="bar bar-header header">
      <h1 class="title text-left"><span><i class="icon icon-left ion-chevron-left" ui-sref="eventsList"></i>
        <img src="img/logo1.png" alt="Logo" class="head-logo">
        <span>{{event.post_title}}</span></span>
        <i class="icon icon-right ion-android-share-alt"></i>
      </h1>
      
    </div>

    <div class="detailscontent">

        <img class="full-image" ng-src="{{event.image_url}}">
        <p class="padright">
          <span><b>{{event.post_title}}</b></span>, <br>
          {{event.address}}
          <i class="icon ion-ios-location loction"></i>
        </p>
        <p class="pad-bot-20">
          <span class="dte">{{event.event_date | date: 'dd' }} {{event.event_date | date: 'MMMM' }} - {{event.event_date | date: 'EEEE' }} {{event.event_time}}</span>
          <button class="button button-small bkbtn" ui-sref="yourBooking({event_id: event.id})">
            <span>Book</span>
          </button>
        </p>
        <div class="venue">
            <p><span><b>SYNOPSIS</b></span><br>
            {{event.post_content}}
            </p>
        </div>

    </div>
