<ion-view>
    <ion-content>

    <div class="bar bar-header header">
        <h1 class="title">
        <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventsList"> 
        <span>event details</span></h1>
    </div>

    <div class="detailscontent">
        <h4 ng-if="noRecords">No Records Found</h4>

        <div ng-if="!noRecords">
          <img class="full-image" ng-src="{{event.image_url}}">

          <div class="row">
              <div class="col col-67">
                <h5>{{event.post_title}}</h5>
              </div>
              <div class="col col-33">
                <img src="img/book.png" alt="Book" ui-sref="yourBooking({event_id: event.id})" class="pull-right">
              </div>
          </div>

          <div class="row">
            <div class="col padding">
              <h5><b>Synopsis</b></h5>
              <p ng-bind-html="event.post_content"></p>
            </div>
          </div>

          <div class="row padding">
              <div class="col col-25">
                 <span>tour</span>
              </div>
              <div class="col col-75">
                  <p>{{event.event_date | date: 'MM/dd/yyyy' }}</p>
              </div>
          </div>

          <div class="row padding">
              <div class="col col-25">
                 <span>time</span>
              </div>
              <div class="col col-75">
                  <p>{{event.event_time}}</p>
              </div>
          </div>

          <div class="row padding">
              <div class="col col-25">
                 <span>venue</span>
              </div>
              <div class="col col-75">
                  <p>{{event.address}}</p>
              </div>
          </div>

          <div class="row padding">
              <div class="col col-25">
                 <span>capacity</span>
              </div>
              <div class="col col-75">
                  <p></p>
              </div>
          </div>

          <div class="row padding">
              <div class="col col-25">
                 <span>facilities</span>
              </div>
              <div class="col col-75">
                  <p></p>
              </div>
          </div>

        </div>
    </div>

  </ion-content>
</ion-view>