<div class="bar bar-header header">
    <h1 class="title">Filtered Events</h1>
    <i class="icon-left ion-chevron-left" ui-sref="eventsList"></i>
</div>

<div class="content-container">

  <div class="row tab-50">

    <div class="events">
      <div class="list card">

      <div class="item item-image box_sale_off">
        <img src="img/300x300.png">
        <span class="box_sale"> 25% </span>
      </div>

      <div class="item item-text-wrap padding-8 eventsdes">
        <h2>Power Rumble antigua 2015</h2>
        <p><i class="icon ion-ios-location loc1"></i> st johns antigua</p>
        <h3>Adult: <span class="linethrough">$250.00</span> <span class="price">$187.50</span></h3>
        <h3>Date of Event: <span>2016-05-01</span> <i class="icon ion-arrow-right-c"></i> <span>2016-05-02</span></h3>
        <button class="button button-block" ui-sref="eventDetails">
          Book now
        </button>
      </div>

    </div>
    </div>

  </div>

  <div class="row tab-50">

    <div class="events">
      <div class="list card">

      <div class="item item-image box_sale_off">
        <img src="img/300x300.png">
        <span class="box_sale"> 25% </span>
      </div>

      <div class="item item-text-wrap padding-8 eventsdes">
        <h2>Power Rumble antigua 2015</h2>
        <p><i class="icon ion-ios-location loc1"></i> st johns antigua</p>
        <h3>Adult: <span class="linethrough">$250.00</span> <span class="price">$187.50</span></h3>
        <h3>Date of Event: <span>2016-05-01</span> <i class="icon ion-arrow-right-c"></i> <span>2016-05-02</span></h3>
        <button class="button button-block" ui-sref="eventDetails">
          Book now
        </button>
      </div>

    </div>
    </div>

  </div>

</div>
