
    <ons-page>
      <ons-toolbar>
        <div class="left login">
          <ons-toolbar-button><i class="fa fa-angle-left"></i> </ons-toolbar-button>
        </div>
        <div class="center">Forgot Password</div>
      </ons-toolbar>
      
      <ons-row class="new-text">
      <p>Please enter a new password</p>
      </ons-row>
      
      <div class="login-form forgot">
        <input type="password" class="new-password" placeholder="New Password" value="">
        <input type="password" class="confirm-password" placeholder="Confirm Password" value="">
        <ons-button modifier="large" class="login-button submit">Submit</ons-button>
      </div>
          
    </ons-page>
