<div class="bar bar-header header">
    <h1 class="title">Forgot Password</h1>
    <i class="icon-left ion-chevron-left" ui-sref="login"></i>
</div>

<div class="login-container">

  <p align="center">Please Enter your email to get password link</p>

  <div class="list list-inset fullwidth">
    <label class="item item-input">
      <i class="icon ion-ios-email placeholder-icon"></i>
        <input type="email" ng-model="user_email" autocomplete="off" placeholder="Email Address">
    </label>
    <p ng-bind="errorMsg"></p>
  </div>

  <button class="button button-block orange loginbtn" ng-click="forgetPassword()">
    <span>Submit</span>
  </button>

</div>