<div class="bar bar-header header">
    <h1 class="title">Forgot Password</h1>
    <i class="icon-left ion-chevron-left" ui-sref="login"></i>
</div>

<div class="login-container">
  <p ng-if="errorMsg" ng-bind="errorMsg" class="ermsg"></p>
  <form role="form" name="forgotPasswordForm" novalidate>
    <div class="list list-inset fullwidth">
      <label class="item item-input">
        <i class="icon ion-ios-email placeholder-icon"></i>
          <input type="email" name="user_email" placeholder="Email Address" ng-model="user_email" autocomplete="off" required>
      </label>
      <span style="color:red" ng-show="forgotPasswordForm.user_email.$dirty && forgotPasswordForm.user_email.$invalid">
        <span ng-show="forgotPasswordForm.user_email.$invalid">Invalid email address.</span>
      </span>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" name="new_password" placeholder="New Password" ng-model="new_password" autocomplete="off" required>
      </label>
      <span style="color:red" ng-show="forgotPasswordForm.user_pass.$dirty && forgotPasswordForm.user_pass.$invalid">
        <span ng-show="forgotPasswordForm.new_password.$error.required">Password is required.</span>
      </span>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" name="confirm_password" placeholder="Confirm Password" ng-model="confirm_password" autocomplete="off" required>
      </label>
      <span style="color:red" ng-show="forgotPasswordForm.user_pass.$dirty && forgotPasswordForm.user_pass.$invalid">
        <span ng-show="forgotPasswordForm.confirm_password.$error.required">Confirm Password is required.</span>
      </span>
    </div>

    <button class="button button-block loginbtn lgbtn" ng-disabled="!forgotPasswordForm.$valid" ng-click="forgetPassword();">
      <span>Submit</span>
    </button>
  </form>
</div>
