
    <ons-page class="heritage">
      <ons-toolbar>
        <div class="left login">
         <!-- <ons-toolbar-button><i class="fa fa-angle-left"></i> </ons-toolbar-button>-->
        </div>
       <div class="center">Heritage Hotel</div>
      </ons-toolbar>
      <div class="htoel-image">
      <img src="lib/onsen/images/hotel.png"/>
      </div>
       <div class="book-button">
         <div style="padding: 10px 9px">
        <ons-button modifier="large" style="margin: 0 auto;">
          Book
        </ons-button>
      </div>
      </div>
      
      <div class="details">
     <div class="venue">
            <span>Owner description </span>
            <p> Take advantage of some of the islands main attractions on this Snorkeling Island Adventure in Antigua! Enjoy a day of snorkeling, kayaking and sightseeing on this family-friendly excursion. </p>
      </div>
    
     <div class="venue">
            <p><span>Activity Type :</span>&nbsp;&nbsp;Specific Date</p>
      </div>
       <div class="venue">
            <p><span>Activity Time :</span>&nbsp;&nbsp;8:00 AM </p>
      </div>
       <div class="venue">
            <p><span>Maximum number of people :</span>&nbsp;&nbsp;50 </p>
      </div>
      <div class="venue">
            <p><span>Venue Facilities :</span>&nbsp;&nbsp; The majority of our rooms enjoy  breathtaking views over the racecourse, providing a 
            dramatic,unforgettable backdrop for your meeting or conference </p>
      </div>
    </div>
      
     
    </ons-page>
