    	
		<div class="row">
		    <div class="logo">
		        <img src="img/logo.png" alt="Logo">  

		        <div class="parties-home">
		        	parties <span>|</span> sports <span>|</span> events
		        </div>
		    </div>
		</div>

		<div class="row home-bot">
			<div class="powered-by">
			    <h3>Powered By</h3>
			    
		    	<span ui-sref="login" class="home-login"><img src="img/login.png" alt="Click to login"></span>

		    	<div class="social-login text-center">
		    		<span class="home-fb" ng-click="fbLogin();"><img src="img/facebook.png" alt="Click to facebook login"></span>
		    		<span class="home-o" ng-click="googleLogin();"><img src="img/o.png" alt="Click to o login"></span>
		    	</div>

		    	<span class="skiplogin" ui-sref="eventsList">skip login</span>
			</div>
		</div>
