<div class="bar bar-header header">
    <h1 class="title">Login</h1>
    <i class="icon-left ion-chevron-left" ui-sref="home"></i>
</div>

<div class="login-container">
    
	<div class="list list-inset fullwidth">
		<label class="item item-input">
			<i class="icon ion-ios-email placeholder-icon"></i>
		    <input type="email" ng-model="user_email" autocomplete="off" placeholder="Email Address">
		</label>
		<label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
		    <input type="password" ng-model="user_pass" autocomplete="off" placeholder="Password">
		</label>
	</div>

	<button class="button button-block orange loginbtn" ng-click="login();">
	  <span>Sign in</span>
	</button>
	
	<p ng-bind="errorMsg"></p>

	<p align="right" ui-sref="forgotPassword">Forgot Password?</p>

	<p align="center">Don't have account? 
		<button class="button button-small button-dark signup" ui-sref="signup">
		  Sign up
		</button>
	</p>

	<h6 align="center" class="or">or</h6>

	<button class="button button-block button-positive loginbtn" ng-click="fbLogin();">
	  <i class="ion-social-facebook"></i> <span class="fb">Sign in with Facebook</span>
	</button>
	
	<google-plus-signin clientid="517332717749-v9vnp2a4oaglirev9uu34nq3gkhqtan4.apps.googleusercontent.com" autorender="false" customtargetid="my-custom-element">
	    <div id="my-custom-element">
		<button class="button button-block button-assertive loginbtn">
		    <i class="ion-social-googleplus"></i> <span class="fb">Sign in with Google</span>
		</button>
	    </div>
	</google-plus-signin>

	<!--<button class="button button-block button-assertive loginbtn">
	  <i class="ion-social-googleplus"></i> <span class="fb">Sign in with Google</span>
	</button>-->
	
	<!--<google-plus-signin clientid="517332717749-v9vnp2a4oaglirev9uu34nq3gkhqtan4.apps.googleusercontent.com" autorender="false"></google-plus-signin>-->

	<p align="center" class="copyright">I agree to the Terms & Conditions & Privacy Policy</p>

</div>