<ion-view>
    <ion-content>

    	<div class="bar bar-header header">
		    <h1 class="title">
		    	<img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="home"> 
		    	<span>login</span></h1>
		</div>

		<div class="login-container">
			<!-- <p ng-if="errorMsg" ng-bind="errorMsg" class="ermsg"></p> -->
			<form role="form" name="loginForm" novalidate>
				<div class="list loginForm">
					<label class="item item-input loginitem1">
					    <input type="email" name="user_email" placeholder="Email" ng-model="login.user_email" autocomplete="off" required class="inputemail">
					</label>
					<span class="errorstyle" ng-show="loginForm.user_email.$dirty && loginForm.user_email.$invalid">
		                <span ng-show="loginForm.user_email.$invalid">Invalid email address.</span>
		            </span>
					<label class="item item-input loginitem2">
					    <input type="password" name="user_pass" placeholder="Password" ng-model="login.user_pass" autocomplete="off" required class="inputpassword">
					</label>
					<span style="color:red" ng-show="loginForm.user_pass.$dirty && loginForm.user_pass.$invalid">
		                <span ng-show="loginForm.user_pass.$error.required">Password is required.</span>
		            </span>
				</div>

				<button class="button button-block loginbtn lgbtn" ng-disabled="!loginForm.$valid" ng-click="login();">
				  <span>Sign in</span>
				</button>
			</form>

			<p align="center" ui-sref="forgotPassword" class="fw">Forgot Password?</p>

			<p align="center" class="fw">Don't have account? 
				<span class="signup" ui-sref="signup">
				  Sign up
				</span>
			</p>

		</div>

		<p align="center" class="copyright" ng-click="openModal()">I agree to the Terms & Conditions & Privacy Policy<i class="icon ion-help-circled"></i></p>

			<span class="skiplogin" ui-sref="eventsList">skip login</span>

		<script id="terms.html" type="text/ng-template">
		  <ion-modal-view>
		    <ion-header-bar>
		      <h1 class="title">Terms & Conditions & Privacy Policy <i class="icon ion-close-circled" ng-click="closeModal()"></i></h1>
		    </ion-header-bar>
		    <ion-content>
		      <p>Hello! sample terms and conditions<p>
		    </ion-content>
		  </ion-modal-view>
		</script>

	</ion-content>
</ion-view>