    <div class="bar bar-header header">
      <h1 class="title">Payment</h1>
      <i class="icon-left ion-chevron-left" ui-sref="eventsList"></i>
      <i class="icon ion-power" ng-click="logout()"></i>
    </div>

    <div id="thirdpayment">

      <div class="list card eventslst thrd">

          <h4>Choose Payment Type</h4>

          <ion-list class="checkpayment">
            <ion-checkbox ng-model="paypalpayment" ng-click="checkPaypal()">PAYPAL</ion-checkbox>
            <ion-checkbox ng-model="cardspayment" ng-click="checkCards()">CARDS PAYMENT</ion-checkbox>
          </ion-list>
        
      </div>

      <div class="list card eventslst thrd" ng-if="cardspayment">

          <h4>Card Type</h4>

          <label><input type="radio"> Visa</label>
          <label><input type="radio"> Master card</label>
          <label><input type="radio"> Discover</label>

          <input type="text" placeholder="Card number" class="payinput">
          <input type="text" placeholder="Name in card" class="payinput">
          <input type="text" placeholder="CVV" class="payinputcvv">

          <button class="button button-small btneve">DONE</button>

      </div>

      <div class="list card eventslst thrd" ng-if="paypalpayment">

          <h4>PAYPAL</h4>

          <input type="text" placeholder="Paypal emailaddress" class="payinput">
          <input type="text" placeholder="Name" class="payinput">
          <input type="text" placeholder="Address" class="payinput">
          <input type="text" placeholder="City" class="payinput">
          <input type="text" placeholder="State" class="payinput">
          <input type="text" placeholder="Country" class="payinput">
          <input type="text" placeholder="Zipcode" class="payinputcvv">

          <button class="button button-small btneve">DONE</button>

      </div>

  </div>