    <div class="bar bar-header header">
      <h1 class="title">Purchase History</h1>
      <i class="icon-left ion-chevron-left" ui-sref="eventsList"></i>
      <i class="icon ion-power" ng-click="logout()" ng-if="isUserID"></i>
    </div>

    <div class="phistory">

      <h4 ng-if="noRecords">No Records found</h4>

        <div class="list list-inset phist" ng-repeat="userHistory in userHistories">
            <div class="item">
              <b>Event</b> : <span class="pull-right" ng-bind="userHistory.post_title"></span>
            </div>
            <div class="item">
              <b>Event Date</b> : <span class="pull-right" ng-bind="userHistory.event_date"></span>
            </div>
            <div class="item">
              <b>Event Venue</b> : <span class="pull-right" ng-bind="userHistory.address"></span>
            </div>
            <div class="item">
              <b>Total</b> : <span class="pull-right">${{userHistory.total_price}}</span>
            </div>
        </div>
    </div>
