
    <div class="bar bar-header header">
        <h1 class="title">
        <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventsList"> 
        <span>Purchase History</span></h1>
    </div>

    <div class="phistory">

      <h4 ng-if="noRecords">No Records Found</h4>

      <div ng-if="!noRecords">

          <h4 ng-if="noCompleteRecords">No Records Found</h4>

          <div class="purchaseitems padding" ng-if="!noCompleteRecords"
            ng-repeat="userHistory in userCompleteHistories">
              <div class="row">
                  <div class="col"><span>order</span></div>
                  <div class="col col-75 purcont">{{userHistory.post_title}} {{userHistory.purchase_date | date: 'dd/MM/yyyy'}}</div>
              </div>
              <div class="row">
                  <div class="col"><span>date</span></div>
                  <div class="col col-75 purcont">{{userHistory.event_date}}</div>
              </div>
              <div class="row">
                  <div class="col"><span>venue</span></div>
                  <div class="col col-75 purcont">{{}}</div>
              </div>
              <div class="row">
                  <div class="col"><span>total</span></div>
                  <div class="col col-75 purcont">${{userHistory.total_price}}</div>
              </div>
          
          </div>


      </div>

    </div>
