
    <ons-page>
      <ons-toolbar>

        <div class="center">Purchase History</div>
      </ons-toolbar>
      <div class="purchase">
      <h1><img src="lib/onsen/images/purchase.png"/></h1>
      <h2>Looks like you don't have </h2>
      <h3>any upcoming shows !</h3>
      <h4>Click to look futher back in time </h4>
      </div>
      <div class="find-button">
     <div style="padding: 10px 9px">
        <ons-button modifier="large" style="margin: 0 auto;">
          Find old tickets
        </ons-button>
      </div>
       <div style="padding: 10px 9px">
        <ons-button modifier="large" style="margin: 0 auto;">
          Find F&B Oreders
        </ons-button>
      </div>

      
      </div>
      
     
    </ons-page>
