    <div class="bar bar-header header">
      <h1 class="title text-left" ui-sref="eventsList"><span><i class="icon icon-left ion-chevron-left"></i>
        <img src="img/logo1.png" alt="Logo" class="head-logo">
        <span>Koolbooking Events</span></span>
      </h1>
    </div>

    <div class="phistory">

      <h4>Purchase History</h4>

      <h4 ng-if="noRecords">No Records found</h4>

        <!-- <div class="list list-inset phist" ng-repeat="userHistory in userHistories">
            <div class="item">
              <b>Event</b> : <span class="pull-right" ng-bind="userHistory.post_title"></span>
            </div>
            <div class="item">
              <b>Event Date</b> : <span class="pull-right" ng-bind="userHistory.event_date"></span>
            </div>
            <div class="item">
              <b>Event Venue</b> : <span class="pull-right" ng-bind="userHistory.address"></span>
            </div>
            <div class="item">
              <b>Total</b> : <span class="pull-right">${{userHistory.total_price}}</span>
            </div>
        </div> -->

        <div class="card phist">
            <div class="item item-divider">
              {{userHistory.post_title}}
            </div>
            <div class="item item-text-wrap">
              Purchase date : 21/1/2015
            </div>
            <div class="item item-text-wrap">
              Event date : {{userHistory.event_date}}
            </div>
            <div class="item item-text-wrap">
              Tickets : <span>Adult - {{userHistory.adult_number}}</span> <span ng-if="userHistory.child_number">Child - {{userHistory.child_number}}</span>
              <span ng-if="userHistory.infant_number">Infant - {{userHistory.infant_number}}</span>
            </div>
            <div class="item item-text-wrap">
              Amount paid : ${{userHistory.total_price}}
            </div>
            <div class="item item-divider">
              <button class="button button-small btneve">USE NOW</button>
            </div>
        </div>
    </div>
