<ion-view>
    <ion-content>
    
    <div class="bar bar-header header">
        <h1 class="title">
        <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventsList"> 
        <span>Settings</span></h1>
    </div>

    <div class="setng">

        <div class="list setlist">

            <div class="item item-toggle">
               Receive Notification
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </div>

        </div>

    </div>

    </ion-content>
</ion-view>