    <div class="bar bar-header header">
      <h1 class="title text-left" ui-sref="eventsList"><span><i class="icon icon-left ion-chevron-left"></i>
        <img src="img/logo1.png" alt="Logo" class="head-logo">
        <span>Koolbooking</span></span>
      </h1>
    </div>

    <div class="setng">
      <h4>Settings</h4>
        <div class="list setlist">

            <div class="item item-toggle">
               Receive Notification
               <label class="toggle toggle-assertive">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </div>

        </div>

    </div>
