
    <ons-page>
      <ons-toolbar>
        <div class="left login"> </div>
        <div class="center">Setting</div>
      </ons-toolbar>
      
      <div class="noti-like">
        <ons-list class="settings-list list ons-list-inner list--inset" modifier="inset">
        
          <ons-list-item class="list__item ons-list-item-inner"> <span>Receive Notification</span>
            <ons-switch modifier="list-item" class="ng-scope">
              <label class="switch switch--list-item">
              <input type="checkbox" ng-model="model" class="switch__input switch--list-item__input">
              <div class="switch__toggle switch--list-item__toggle"></div>
              </label>
            </ons-switch>
          </ons-list-item>
          
          <ons-list-item class="list__item ons-list-item-inner"> <span>Email Us</span> <i class="fa fa-envelope"></i>
 </ons-list-item>

          
        </ons-list>
        
      </div>
      
    </ons-page>
