<ion-view>
    <ion-content>

		<div id="showcase">
		  <flex-slider animation="slide" direction="vertical" video="true" flex-slide="videoUrl in videoUrls">
		      <li>
		          <youtube-video player-width="'100%'" player-height="'500px'" player="bestPlayer" video-url="videoUrl"></youtube-video>
		      </li>
		  </flex-slider>
		  <!-- <h1>Showcase Content</h1>
		  <p>I was testing in a cel Lenovo with android 6.0 and everything was running fine. When I try to run the app in a Sansumg S4 mini with android 4.2.2, it shows me some errors (ionic run android -l). The first 2 errors are about:</p> -->
		</div>

	</ion-content>
</ion-view>
