
    <ons-page>
      <ons-toolbar>
        <div class="left login">
          <ons-toolbar-button><i class="fa fa-angle-left"></i> </ons-toolbar-button>
        </div>
        <div class="center">Sign up</div>
      </ons-toolbar>
      <div class="sign-up-page">
        <ons-col>
          <h5>Create an Account</h5>
        </ons-col>
        <div class="sign-up">
          <div class="form-row"> <i class="fa fa-user"></i>
            <input type="text" class="text-input--underbar width-half" placeholder="First Name" value="">
            <input type="text" class="text-input--underbar width-half" placeholder="Last Name" value="" style="border-width-left: 1px">
          </div>
          <div class="form-row"> <i class="fa fa-envelope"></i>
            <input type="text" class="text-input-email width-full" placeholder="Email Address" value="">
          </div>
          <div class="form-row"> <i class="fa fa-star"></i>
            <input type="password" class="text-input-password width-full" placeholder="Alphanumeric Password" value="">
            <i class="fa fa-eye-slash"></i> </div>
          <div class="form-row"> <i class="fa fa-mobile"></i>
            <input type="password" class="text-input-phone width-full" placeholder="Phone Number" value="">
          </div>
          <div class="vspc form-row sign-up-one">
            <ons-button modifier="large--cta">Sign up</ons-button>
          </div>
          <div class="dont-have">
            <h6>or</h6>
          </div>
          <ons-row class="social-icon">
          <div class="facebook"> <a href="#"><i class="fa fa-facebook"></i> Login With Facebook</a> </div>
          <div class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Login With Google</a> </div>
          </ons-row>
        </div>
      </div>
    </ons-page>
