<ons-page>
  <ons-toolbar>
    <div class="left login">
      <ons-toolbar-button><i class="fa fa-angle-left"></i> </ons-toolbar-button>
    </div>
    <div class="center">Sign up</div>
  </ons-toolbar>
  <div class="sign-up-page">
    <ons-col>
      <h5>Create an Account</h5>
    </ons-col>
    <div class="sign-up">
      <div class="form-row"> <i class="fa fa-user"></i>
        <input type="text" class="text-input--underbar width-half" placeholder="First Name" ng-model="user.first_name" autocomplete="off">
        <input type="text" class="text-input--underbar width-half" placeholder="Last Name" ng-model="user.last_name" autocomplete="off" style="border-width-left: 1px">
      </div>
      <div class="form-row"> <i class="fa fa-envelope"></i>
        <input type="text" class="text-input-email width-full" placeholder="Email Address" autocomplete="off" placeholder="Email">
      </div>
      <div class="form-row"> <i class="fa fa-star"></i>
        <input type="password" class="text-input-password width-full" placeholder="Alphanumeric Password" ng-model="user.user_pass" autocomplete="off">
        <i class="fa fa-eye-slash"></i> </div>
      <div class="form-row"> <i class="fa fa-mobile"></i>
        <input type="password" class="text-input-phone width-full" placeholder="Phone Number" ng-model="user.st_phone" autocomplete="off">
      </div>
      <div class="vspc form-row sign-up-one">
        <ons-button modifier="large--cta" ng-click="signUp();">Sign up</ons-button>
      </div>
    </div>
  </div>
</ons-page>
