<style type="text/css">
  body{background:#60ddcd;}
</style>

<div id="splash">
  <div class="logo"> <a href="#"><img src="lib/onsen/images/logo.png" alt="#"></a> </div>
  <div class="powered-by">
    <h3>Powered By</h3>
    <div class="flow-logo"> <a href="#"> <img src="lib/onsen/images/flow-img.png" alt="#"> </a>
      <ul class="watch">
        <li><a href="#">watch</a></li>
        <li><i class="fa fa-circle"></i> <a href="#">talk</a></li>
        <li><i class="fa fa-circle"></i> <a href="#">click</a></li>
      </ul>
    </div>
  </div>
  <div class="login"><a ui-sref="login">Login</a> </div>
  <div class="skip"><a ui-sref="home">i'll skip</a></div>
</div>
