<ion-view>
    <ion-content>

		<div id="tickets">
		  
		  <img src="img/addimg.jpg" alt="advertisement" class="add">

		  <div class="tabs tabs-icon-top tab13">
		    <a class="tab-item tab8" ng-click="showAll()" ui-sref="all">
		      <img src="img/all-icon.png" class="scase icon">
		      All
		    </a>
		    <a class="tab-item tab9" ng-click="showEvents()" ui-sref="eventTab">
		      <img src="img/event-icon.png" class="tick icon">
		      Events
		    </a>
		    <a class="tab-item tab10" ng-click="showActivity()" ui-sref="activity">
		      <img src="img/activity-icon.png" class="yu icon">
		      Activity
		    </a>
		  </div>

		  <div class="tabs tabs-icon-top tab14">
		    <a class="tab-item tab8" ng-click="showAll()" ng-disabled="disabled">
		      <img src="img/all-icon.png" class="scase icon">
		      Movies
		    </a>
		    <a class="tab-item tab9" ng-click="showEvents()" ng-disabled="disabled">
		      <img src="img/event-icon.png" class="tick icon">
		      Hotels
		    </a>
		    <a class="tab-item tab10" ng-click="showActivity()" ng-disabled="disabled">
		      <img src="img/activity-icon.png" class="yu icon">
		      Restaurants
		    </a>
		  </div>

		</div>
		
		</ion-content>
	</ion-view>

