<ion-view>
    <ion-content>

        <div id="you">
          
            <div class="fullwidth text-center profile">
                <h1>
                  <i ng-if="userInfo.image_url === ''" class="icon ion-person-stalker"></i>
                  <img ng-if="userInfo.image_url !== ''" ng-src="http://koolbooking.com/{{userInfo.image_url}}" alt="user image" class="profileimg"/>
                </h1>
                <p ng-bind="userInfo.display_name"></p>
            </div>

            <div class="list youlistitems padding-20">
                <a class="item item-icon-left youlist" ui-sref="purchasehistory" ng-if="isUserID">
                  <i class="icon ion-ios-circle-outline"></i>
                  Purhase history
                </a>

                <a class="item item-icon-left youlist" ui-sref="setting">
                  <i class="icon ion-ios-circle-outline"></i>
                  Settings
                </a>

                <a class="item item-icon-left youlist" href="mailto:info@koolbooking.com">
                  <i class="icon ion-ios-circle-outline"></i>
                  Email Us
                </a>

                <a class="item item-icon-left youlist" ng-click="logout()" ng-if="isUserID">
                  <i class="icon ion-ios-circle-outline"></i>
                  Logout
                </a>
            </div>

        </div>
        
        </ion-content>
    </ion-view>
