<div class="bar bar-header header">
    <h1 class="title">Your Booking</h1>
    <i class="icon-left ion-chevron-left" ui-sref="eventsList"></i>
</div>

<div class="content-container">

  <div class="row">

      <div class="list card your-booking">

      <div class="item item-avatar">
        <img src="img/300x300.png">
        <h2>Power Rumble antigua 2015</h2>
      </div>

      <div class="item item-text-wrap padding-8 booking">
        <h2>Activity Infomation</h2>
        <p><span class="left">Type Tour</span> <span class="right">Special Date</span></p>
        <hr>
        <p><span class="left">Date</span> <span class="right">2016-05-01</span></p>
        <hr>
        <p><span class="left">Maximum number of people</span> <span class="right">5</span></p>
        <hr>
        <p><span class="left">Number of Adult</span> <span class="right">1</span></p>
        <hr>
        <p><span class="left">Number of Children</span> <span class="right">0</span></p>
        <hr>
        <p><span class="left">Adult Price</span> <span class="right">$250.00</span></p>
        <hr>
        <p><span class="left">Children Price</span> <span class="right"></span></p>
        <hr>
        <p><span class="left">Origin Price</span> <span class="right">$250.00</span></p>
        <hr>
        <p><span class="left">Sale Price</span> <span class="right">$187.50</span></p>
        <hr>
        <p><span class="left">Tax</span> <span class="right">0%</span></p>
        <hr>
        <p><span class="left">Total Price (with tax)</span> <span class="right">$187.50</span></p>
        <hr>
        <p><span class="left"><b>PAY AMOUNT</b></span> <span class="right"><b>$187.50</b></span></p>
      </div>

    </div>

  </div>

  <div class="row">
    <button class="button button-block orange" ui-sref="bookingSubmission">
    <span>Payment Now</span>
  </button>
  </div>

</div>
