
<div class="bar bar-header header">
    <h1 class="title">
    <img src="img/backbutton.png" alt="Logo" class="head-logo" ui-sref="eventDetails({event_id: event.id})"> 
    <span>Your booking</span></h1>
</div>

<div class="yourbookingcontent">
	<h1>SYNOPSIS</h1>
	<p ng-bind-html="event.post_content" class="yb"><p>


    <div class="event-date row">
	    <div class="event-date-right">
	       
	        <div class="date">
		        <div class="date-inner">
		        <p>{{::event.event_date | date: 'MMMM' }}</p>
		        </div>
		       
		        <h2>{{::event.event_date | date: 'dd' }}</h2>
		        <h3>{{::event.event_date | date: 'EEEE' }}</h3>
	       </div>
	       
	    </div>
	</div>

	<div class="event-date row yb1">
  
        <div class="event-date-left">	

     	    <div class="row">
                <div class="col col-33">
                   <span>Event Date</span>
                </div>
                <div class="col">
                    <p>{{::event.event_date | date: 'dd-MM-yyyy'}}</p>
                </div>
  		    </div>

  		    <div class="row">
                <div class="col col-33">
                   <span>Activity Time</span>
                </div>
                <div class="col">
                    <p>{{::event.event_time}}</p>
                </div>
  		    </div>

  		    <div class="row">
                <div class="col col-33">
                   <span>Maximum number of people</span>
                </div>
                <div class="col">
                    <p>{{::event.max_people}}</p>
                </div>
  		    </div>

  		    <div class="row">
                <div class="col col-33">
                   <span>Venue Facilities</span>
                </div>
                <div class="col">
                    <p>{{::event.venue_facilities}}</p>
                </div>
  		    </div>

  		    <div class="row" ng-if="event.adult_price">
                <div class="col col-33">
                   <span>Adult Price</span>
                </div>
                <div class="col">
                    <p>${{::event.adult_price}}</p>
                </div>
  		    </div>

  		    <div class="row" ng-if="event.child_price !== '0'">
                <div class="col col-33">
                   <span>Child Price</span>
                </div>
                <div class="col">
                    <p>${{::event.child_price}}</p>
                </div>
  		    </div>

  		    <div class="row" ng-if="event.infant_price !== '0'">
                <div class="col col-33">
                   <span>Infant Price</span>
                </div>
                <div class="col">
                    <p>${{::event.infant_price}}</p>
                </div>
  		    </div>

      </div>
  
    </div>

 <form name="myForm" role="form" ng-if="event.adult_price">
	<div class="row full-width adlt">
	  	<div class="col col-33">
		    Adult
		    <select name="no_adult" ng-model="no_adult" required>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
		    </select>
	  	</div>
	 

	  	<div class="col col-33" ng-show="event.child_price !== '0'">
	    	Child
		    <select name="no_child" ng-model="no_child">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
		    </select>
	  	</div>

	  	<div class="col col-33" ng-show="event.infant_price !== '0'">
		    Infant
		    <select ng-model="no_infant">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
		    </select>
	    </div>

	</div>

   	<p>
      <button class="button button-block review_btn lgbtn" ng-disabled="!myForm.$valid" ui-sref="bookingSubmission({adult: no_adult, child: no_child, infant: no_infant})">
        <span>Review Order</span>
      </button>
  	</p>
  	</form>
</div>
