body{background-color: #F4F3F6;overflow: auto;}
html{overflow: auto;}
.header{background: url('../img/nav-bg.png') repeat;background-size: cover;font-size: 18px;position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;}
.orange{background: none;border:2px solid #fff;color: #fff !important;max-width: 250px;display: table;margin: auto;transition-duration: 0.8s;
line-height: 42px;height: 52px;}
.logo{text-align: center;display: table;margin: auto;margin-top: 30px;}
.logo img{width: 60%;}
.powered-by{text-align: center;display: table;margin: auto;margin-top: 40px;margin-bottom: 40px;}
.powered-by h3{color: #fff;}
.flow-logo img{width: 45%;}
.watch{width: 100%;float: left;margin:0;padding: 0;}
.watch li{display: inline-block;color: #20a8e0;font-size: 13px;margin: 0 5px 0 2px;font-weight: 600;}
.orange span{position: relative;bottom: 1px;font-size: 24px;font-weight: 600;}
h1{color: #fff;}
.fullwidth{width: 100%;margin: 0;}
.loginbtn{width: 230px !important;display: table;margin: auto;margin-top: 10px;}
.lgbtn{background: #9899f6;font-size: 20px;color: #fff !important;text-transform: uppercase;margin-top: 15px !important;}
.login-container{max-width: 300px;display: table;margin: auto;margin-top: 70px;}
.signup{padding: 2px 5px 5px;min-height: 24px;font-size: 20px;line-height: 10px;border-bottom: 1px solid #000;
font-weight: 600;}
.icon-left{color: #fff;margin-left: 8px;margin-top: 6px;z-index: 1000;position: relative;}
.login-container h6{color: #ababab;font-size: 24px;margin: 20px 0 20px 0px;text-transform: uppercase;}
.ion-social-facebook{font-size: 24px;}
.ion-social-googleplus{font-size: 24px;}
.fb{position: relative;bottom: 2px;margin-left: 5px;}
.ion-ios-email,.ion-person,.ion-ios-telephone{font-size: 24px;color: #48DDC9;}
.ion-locked{font-size: 22px;color: #48DDC9;}
.copyright{font-size: 12px;}
.skip{text-align: center;width: 100%;float: left;}
.skip a{text-decoration: none;color: #fefefe;font-size: 24px;transition-duration: 0.8s;
    text-transform: uppercase;font-weight: 600;}
.facebk{background: #3a599d !important;color: #fff;font-size: 20px;margin-bottom: 0 !important;border-radius: 0 !important;}
.gogle{background: #f23f69 !important;color: #fff;font-size: 20px;margin-top: 0 !important;border-radius: 0 !important;}
.fw{font-size: 17px;margin: 12px 0 12px 0;}
.signup-container{margin-top: 70px;}
.signup-container .col{padding: 0 !important;}
.signup-container .row{padding: 0 !important;}
.ipn{padding-right: 5px !important;padding-left: 8px !important;}

/* events list tab*/
.tab11{top: 44px !important;padding: 2px;}
.tab11 a{color: #000;font-size: 12px !important;font-weight: 700;}
.scase{width: 20px;height: 20px;position: relative;top: 4px;}
.tick{width: 20px;height: 20px;position: relative;top: 4px;}
.yu{width: 20px;height: 20px;position: relative;top: 4px;}
.dis{width: 20px;height: 20px;position: relative;top: 4px;}
#tabcontent{width: 100%;float: left;margin-top: 100px;}
#showcase{text-align: center;}
.lc1{font-size: 20px !important;}
.profile-circle{width: 100%;float: left;}
.profile{background: #3c3f3e;padding: 20px 0;}
.profile p{font-size: 20px;color: #fff;}
.ion-person-stalker{font-size: 60px;}
.pur{background: none;border: 0;border-bottom: 1px solid #3c3f3e;}
.bnone{background: none;}
.venue span {font-size: 16px;color: #e43b62;}
.detailscontent{margin-top: 44px;padding: 10px;}
.lgbtn1{background: #9899f6;font-size: 20px;color: #fff !important;text-transform: uppercase;margin-top: 10px !important;}
.eventslst{margin: 10px 10px;background: #F4F3F6;}
.eventslst h5{margin: 0;}
.eventslst p{margin: 5px 0 0 0;}
.btneve{width: 100%;font-size: 16px;background: #9899f6;color: #fff;}
.buy-ticket{background: #555353;padding: 12px 0;color: #fff;margin-top: 44px;text-align: center;font-size: 16px;}

/* your booking */
.yourbookingcontent{width: 100%;float: left;padding: 10px;}
.yourbookingcontent h1{font-size: 20px !important;font-weight: normalv;margin: 0;color: #000;margin-bottom: 10px;}
.event-date-right .date {
    border: 2px solid #f23f69;
    border-radius: 4px;
    float: left;
    margin: 30px 0 0;
    width: 100%;
}
.date-inner {
    background: #f23f69 none repeat scroll 0 0;
    float: left;
    padding: 8px 0;
    text-align: center;
    width: 80%;
}
.date-inner p {
    color: #fff;
    font-size: 18px;
}
.date h2 {
    color: #f23f69;
    float: left;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 70%;margin: 0;
}
.date h3 {
    color: #f23f69;
    float: left;
    font-weight: normal;
    padding: 0 0 12px;
    text-align: center;
    width: 70%;margin: 0;font-size: 20px;
}
.event-date-right {float: right;width: 42%;margin-left: 2%;}
.event-date-left {float: left;width: 56%;}
.ermsg{color: red;font-size: 16px;}

.tab12{bottom: 0px !important;padding: 2px;position: fixed;left: 0;}
.tab12 a{color: #000;font-size: 14px !important;font-weight: 700;}
#comingsoon h4{text-align: center;}
#booksub{margin-top: 55px;}
#booksub h4{padding: 0 10px 10px 10px;border-bottom: 1px solid #000;}
#booksub p{padding: 0 10px 10px 10px;border-bottom: 1px solid #000;}
.pull-right{float: right;}
.tab13{bottom: 0px !important;padding: 2px;position: fixed;left: 0;}
.tab13 a{color: #000;font-size: 13px !important;font-weight: 700;}
.adlt select{width: 100%;height: 26px;}
#thirdpayment{margin-top: 60px;}
.thrd{padding: 10px;}
.thrd label{margin-right: 10px;}
.payinput{    background: #efeef0 none repeat scroll 0 0;
    border: 1px solid #8c8a8a !important;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    text-indent: 11px;
    width: 100%;padding: 6px !important;}
    .payinputcvv{    background: #efeef0 none repeat scroll 0 0;
    border: 1px solid #8c8a8a !important;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    text-indent: 11px;
    width: 50%;padding: 6px !important;}
    .thrd button{height: 40px;}