body{background-color:#064974;overflow: auto;}
html{overflow: auto;}
.header{background: #0b5d8d;font-size: 18px;position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;}
.orange{background: none;border:2px solid #fff;color: #fff !important;max-width: 250px;display: table;margin: auto;transition-duration: 0.8s;
line-height: 42px;height: 52px;}
.logo{text-align: center;display: table;margin: auto;margin-top: 25px;
    margin-bottom: 15px;}
.logo img{width: 70%;display: block;margin: auto;}
.powered-by{text-align: center;display: table;margin: auto;margin-top: 40px;margin-bottom: 40px;}
.powered-by h3{color: #84d4f5;font-size: 12px;text-transform: uppercase;margin-bottom: 25px;}
.watch{width: 100%;float: left;margin:0;padding: 0;}
.watch li{display: inline-block;color: #20a8e0;font-size: 13px;margin: 0 5px 0 2px;font-weight: 600;}
.orange span{position: relative;bottom: 1px;font-size: 24px;font-weight: 600;}
h1{color: #fff;}
.loginForm{width: 100%;margin: 0;}
.loginForm .item{background: none !important;border: none !important;border-bottom: 1px solid #0b5d8d !important;}
.loginForm .loginitem1{border-top: 1px solid #0b5d8d !important;padding-left: 0;
    padding-right: 0;}
.loginForm .loginitem2{padding-left: 0;padding-right: 0;}
.loginbtn{width: 121px !important;display: table;margin: auto;height: 40px !important;
min-height: 40px !important;line-height: 36px !important;}
.lgbtn{background: #0b5d8d !important;
    font-size: 20px;
    color: #63b5d9 !important;
    text-transform: capitalize;
    margin-top: 15px !important;}
.login-container{margin-top: 54px;padding: 0 10px;display: table;width: 100%;}
.signup{padding: 2px 5px 5px;min-height: 24px;font-size: 20px;line-height: 10px;border-bottom: 1px solid #08527c;
font-weight: 600;}
.icon-left{color: #fff;font-size: 14px;}
.login-container h6{color: #ababab;font-size: 24px;margin: 20px 0 10px 0px;text-transform: uppercase;}
.ion-social-facebook{font-size: 24px;}
.ion-social-googleplus{font-size: 24px;}
.backlogin{position: fixed;bottom: 20px;width: 100%;left: 0;text-align: center;}
.backloginbtn{background: #84d4f5;color: #074a83;padding: 3px 10px;border-radius: 3px;}
.ion-ios-email,.ion-person,.ion-ios-telephone{font-size: 24px;color: #48DDC9;}
.ion-locked{font-size: 22px;color: #48DDC9;}
.copyright{font-size: 12px;color: #84d4f5 !important;margin-top: 10px;}
.skip{text-align: center;width: 100%;float: left;}
.skip a{text-decoration: none;color: #fefefe;font-size: 24px;transition-duration: 0.8s;
    text-transform: uppercase;font-weight: 600;}
.facebk{background: #3a599d !important;color: #fff !important;font-size: 20px;margin-bottom: 0 !important;border-radius: 0 !important;}
.gogle{background: #f23f69 !important;color: #fff !important;font-size: 20px;margin-top: 0 !important;border-radius: 0 !important;}
.fw{font-size: 16px;margin: 10px 0 10px 0;}
.signup-container{margin-top: 70px;}
.signup-container .col{padding: 0 !important;}
.signup-container .row{padding: 0 !important;}
.ipn{padding-right: 5px !important;padding-left: 8px !important;}

/* events list tab*/
.tab11{top: 44px !important;padding: 0px;background: none !important;}
.tab11 a{color: #84d4f5;font-size: 12px !important;font-weight: 700;}
.scase{width: 20px;height: 20px;position: relative;top: 4px;}
.tick{width: 20px;height: 20px;position: relative;top: 4px;}
.yu{width: 20px;height: 20px;position: relative;top: 4px;}
.dis{width: 20px;height: 20px;position: relative;top: 4px;}
#tabcontent{width: 100%;float: left;margin-top: 93px;}
.lc1{font-size: 20px !important;}
.profile-circle{width: 100%;float: left;}
.profile p{font-size: 20px;color: #fff;margin-bottom: 0;}
.ion-person-stalker{font-size: 60px;}
.youlist{background: none;border: 0;border-bottom: 1px solid #0b5d8d;color: #84d4f5 !important;}
.bnone{background: none;}
.venue span {font-size: 16px;color: #e43b62;}
.detailscontent{/*margin-top: 44px;*/padding: 0px;padding-top: 44px;}
.lgbtn1{background: #387ef5;font-size: 20px;color: #fff !important;text-transform: uppercase;margin-top: 10px !important;}
.eventslst{margin: 0;background: none;padding: 0 !important;}
.eventslst h5{margin: 0;color: #84d4f5;font-size: 16px;}
.eventslst p{margin: 5px 0 0 0;color: #84d4f5;font-size: 16px;}
.btneve{width: 100%;font-size: 18px;background: #0b5d8d;color: #84d4f5;line-height: 20px;padding:5px 6px 7px 6px !important;}
.buy-ticket{background: #555353;padding: 12px 0;color: #fff;margin-top: 44px;text-align: center;font-size: 16px;}
.item-image{border: 0 !important;}

/* your booking */
.yourbookingcontent{width: 100%;float: left;padding: 10px;}
.yourbookingcontent h1{font-size: 20px !important;font-weight: normalv;margin: 0;color: #000;margin-bottom: 10px;}
.event-date-right .date {
    border: 2px solid #f23f69;
    border-radius: 4px;
    float: left;
    margin: 0px 0 0;
    width: 100%;
}
.date-inner {
    background: #f23f69 none repeat scroll 0 0;
    float: left;
    padding: 8px 0;
    text-align: center;
    width: 100%;
}
.date-inner p {color: #fff;font-size: 18px;margin-bottom: 5px;}
.date h2 {
    color: #f23f69;
    float: left;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    width: 100%;margin: 5px 0 0 0px;
}
.date h3 {
    color: #f23f69;
    float: left;
    padding: 0 0 12px;
    text-align: center;
    width: 100%;margin: 0;font-size: 20px;
}
.event-date-right {float: left;width: 100%;margin-bottom: 10px;}
.event-date-left {float: left;width: 100%;}
.event-date-left .row{padding: 0 !important;padding-bottom: 5px !important;}
.event-date-left .row .col:first-child{padding-left: 0 !important;}
.ermsg{color: #a94442;background-color: #f2dede;border-color: #ebccd1;font-size: 16px;padding: 10px;}

.tab12{bottom: 0px;
    padding: 0px;
    position: absolute;
    left: 0;
    width: 100%;
    float: left;text-align: center;background: #074a83;}
.tab12 a{;min-width: 90px;
color: #84d4f5;display: inline-block;}
.tab12 a span{background-color: #0b5d8d;color: #84d4f5;font-size: 12px !important;padding: 2px 5px 3px 5px;
    border-radius: 3px;width: 95px;display: inline-block;line-height: 20px;}
#booksub{margin-top: 35px;}
#booksub h4{padding: 0 0px 10px 0px;border-bottom: 1px solid #0b5d8d;color: #84d4f5;}
#booksub p{padding: 0 0px 10px 0px;border-bottom: 1px solid #0b5d8d;color: #84d4f5;}
.pull-right{float: right;}
.tab13{position: relative;height: 60px;padding:0;bottom: 5px;}
.tab13 a{color: #000;font-size: 13px !important;font-weight: 700;border-right: 2px solid #84d4f5;}
.tab13 a:last-child{border-right: none;}
.tab13 .icon{margin-bottom: 7px;}
.tab14{position: relative;height: 60px;padding:0;bottom: 5px;}
.tab14 a{color: #000;font-size: 13px !important;font-weight: 700;opacity: 0.3;border-bottom: 2px solid #b2b2b2;}
.tab14 .icon{margin-bottom: 7px;}
.adlt select{width: 100%;height: 26px;}
#thirdpayment{margin-top: 44px;padding: 10px;width: 100%;float: left;}
.thrd{padding: 10px;}
.thrd label{margin-right: 10px;}
.paymentform label{width: 100%;float: left;}
    .payinputcvv{    background: #efeef0 none repeat scroll 0 0;
    border: 1px solid #8c8a8a !important;
    border-radius: 3px;
    margin: 10px 0 10px 0;
    text-indent: 11px;
    width: 50%;padding: 6px !important;}
.thrd button{height: 40px;}

.phistory{margin-top: 44px;}
.phistory h4{text-align: center;margin: 10px 0 15px 0;}
.phist .item{padding: 10px;border-width: 1px;}
.setem{float: right;font-size: 33px !important;position: relative;bottom: 6px;}
.setlist .item{background: none;border-top: none;border-left: none;border-right: none;}
.setng{margin-top: 44px;}
.pad-bot{padding-bottom: 0 !important;}
.ion-gear-b{z-index: 1000;color: #fff;font-size: 26px;right: 10px;position: absolute;top: 8px;}
.lodr{font-size: 40px;color: #fff;}
.ion-power {
    z-index: 1000;
    color: #fff;
    font-size: 23px;
    right: 10px;
    position: absolute;
    top: 11px;
}
.checkpayment .list .item{background: #666666;color: #fff;}
.fw{width: 100%;float: left;}
.fw1{width: 49%;float: left;margin-right: 2%;margin-top: 22px;background: none !important;
    border-top: 1px solid #0b5d8d !important;
    border-bottom: 1px solid #0b5d8d !important;border-radius: 0;}
.fw2{width: 49%;float: left;margin-top: 22px;background: none !important;
    border-top: 1px solid #0b5d8d !important;
    border-bottom: 1px solid #0b5d8d !important;border-radius: 0;}
.searchheader{padding: 0 10px 0px 10px;}
.searchinput1{height: 34px !important;width: 100%;background: none !important;border-top: 1px solid #0b5d8d !important;
border-bottom: 1px solid #0b5d8d !important;color: #84d4f5 !important;}
.searchinput2{height: 34px !important;width: 100%;padding-top: 0 !important;font-size: 14px !important;color: #84d4f5 !important;}
.searchinput3{height: 34px !important;width: 100%;padding-top: 0 !important;font-size: 14px !important;color: #84d4f5 !important;}
.lgout{color: rgb(72, 221, 201);font-size: 27px !important;}
.ion-refresh{color: rgb(72, 221, 201) !important;}
.setngicn{color: rgb(72, 221, 201) !important;font-size: 34px !important;}
.head-logo{position: relative;top: 6px;width: 53px;float: left;}
.header span{color: #84d4f5;margin-left: -50px;text-transform: uppercase;font-size: 16px;
    font-weight: normal;}
#skipbtn{position: fixed;bottom:0;left: 0;margin-bottom: 0;}
.ion-help-circled{font-size: 18px;margin-left: 2px;position: relative;top: 3px;color:#387ef5;}
.modal h1{color: #84d4f5;font-size: 14px !important;text-align: left !important;}
.ion-close-circled{font-size: 27px;color: #387ef5;position: absolute;
    right: 1px;}
.modal .scroll-content{padding: 10px;}
.loction{position: absolute;right: 10px;border: 2px solid #e5e5e5;border-radius: 50%;
    padding: 3px 7px;font-size: 20px;margin-top: -15px;color: #555555;}
.bkbtn{background: #387ef5;font-size: 14px;color: #fff !important;text-transform: uppercase;padding: 0px 6px;
    float: right;min-height: 26px;}
.detailscontent h5{font-size: 16px;color: #84d4f5;}
.detailscontent p{font-size: 14px;color: #84d4f5;line-height: 24px;margin-bottom: 0;}
.detailscontent span{width: 100%;padding: 2px 5px;font-size: 12px;
    background: #0b5d8d;color: #84d4f5;text-transform: uppercase;border-radius: 3px;display: flex;}
.pad-bot-20{padding-bottom: 18px !important;}
.dte{position: relative;top: 3px;}
.ion-android-share-alt{float: right;font-size: 24px;margin-top: 2px;}
.text-left{text-align: left !important;}
.padright{padding-right: 50px !important;}
.padright span{font-size: 16px;}
#thirdpayment h5{text-align: center;margin-top: 0;margin-bottom: 12px;
    font-size: 20px;}
#activity{margin-top: 44px;width: 100%;float: left;}
#activity h4{text-align: center;margin: 10px 0;color: #84d4f5;}
#all{margin-top: 44px;width: 100%;float: left;}
#event{margin-top: 44px;width: 100%;float: left;}
#event h4{text-align: center;margin: 10px 0;}
.top-0{margin-top: 0 !important;}
.setng h4{text-align: center;margin: 10px 0;}
.conte{color: #000000 !important;margin-top: 5px;display: inline-block;}
.tab18{position: relative;padding: 0;bottom: 5px;}
.tab18 a {
    color: #000;
    font-size: 16px !important;
    font-weight: 700;max-width: 100%;
}
.tab31{border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
.tab33{border-left: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
.yb{font-size: 14px;color: #84d4f5;margin-top: 20px !important;}
.yb1{border-bottom: 1px solid #0b5d8d;margin-bottom: 10px;}
.placeholder-icon{color: #84d4f5 !important;}
.profileimg{max-width: 90%;height: auto;display: table;margin: auto;}
.sd{position: absolute;margin-top: -29px;color: #84d4f5;}

/* new changes */

.parties-home{text-transform: uppercase;color: #3f84a7;border-top:1px solid #064970;
border-bottom:1px solid #064970;display: inline-block;padding: 5px 0;letter-spacing: 2px;margin-top: 10px;}
.parties-home span{bottom: 2px;font-size: 12px;font-weight: normal;margin: 0 2px;
color: #3f84a7;position: relative;}
.skiplogin{text-transform: uppercase;color: #3f84a7;font-size: 14px;
    margin-top: 10px;display: block;text-align: center;
    width: 100%;}
.home-login{margin-bottom: 5px;display: inline-block;}
.home-bot{position: absolute;bottom: 0px;}
.inputemail{color: #84d4f5 !important;}
.inputpassword{color: #84d4f5 !important;}
.inputemail::-webkit-input-placeholder {
   color: #4195be !important;background: #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputemail:-moz-placeholder { /* Firefox 18- */
   color: #4195be !important;background: #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;  
}
.inputemail::-moz-placeholder {  /* Firefox 19+ */
   color: #4195be !important;background: #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputemail:-ms-input-placeholder {  
   color: #4195be !important;background: #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputpassword::-webkit-input-placeholder {
   color: #0b5d8d !important;border:1px solid #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputpassword:-moz-placeholder { /* Firefox 18- */
   color: #0b5d8d !important;border:1px solid #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputpassword::-moz-placeholder {  /* Firefox 19+ */
   color: #0b5d8d !important;border:1px solid #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.inputpassword:-ms-input-placeholder {  
   color: #0b5d8d !important;border:1px solid #0b5d8d !important;text-transform: uppercase;
   padding: 2px 5px !important;display: inline-block !important;width: 100px !important;
   border-radius: 3px !important;
}
.errorstyle{color: #4195be;margin-top: 5px;display: inline-block;}
.fw{color: #84d4f5 !important;}
.modal .bar-header{background: #0b5d8d;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;}
.modal .scroll-content{background: #02233a !important; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#02233a, #064973) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#02233a, #064973) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#02233a, #064973) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#02233a, #064973) !important; /* Standard syntax */
color: #84d4f5 !important;}

#trending h4{color: #84d4f5;text-align: center;}
#comingsoon h4{color: #84d4f5;text-align: center;}
.youlistitems .item-icon-left .icon{font-size: 18px !important;left: -5px;}
.youlistitems .item-icon-left {padding-left: 30px;}
.padding-20{padding: 20px;}
.setng .list .item{border-bottom: 1px solid #0b5d8d;color: #84d4f5 !important;}
.purchaseitems{padding: 10px 10px 0 10px !important;}
.purchaseitems .row .col span{width: 100%;
    padding: 2px 5px;
    font-size: 12px;
    background: #0b5d8d;
    color: #84d4f5;
    text-transform: uppercase;
    border-radius: 3px;
    display: flex;}
    .purchaseitems .row .col{padding: 0;}
.purchaseitems .row{border-bottom: 1px solid #0b5d8d;margin-bottom: 15px;
    padding: 0 0 10px 0;}
.purchaseitems .row:last-child{border-bottom: 10px solid #0b5d8d;margin-bottom: 0 !important;}
.purcont{font-size: 14px;color: #84d4f5;line-height: 18px;padding-left: 10px !important;}
.fullpage{width: 100%;height: 100%;}
#you .item{background: none;border: 0;border-bottom: 1px solid #0b5d8d;color: #84d4f5;padding-left: 0px;}
.padding-20{padding: 0 20px 20px 20px;}
.ion-record{margin-right: 10px;position: relative;top: 1px;}
.flexslider{margin: 0 !important;border-radius: 0 !important;border: 0 !important;
background: none !important;}
.pay_btn{width: 160px !important;
    display: table;
    margin: auto;
    height: 40px !important;
    min-height: 40px !important;
    line-height: 36px !important;padding: 0px 0px 5px !important;}
.synops h5{margin-top: 0 !important;}
.event-date-left span{width: 100%;
    padding: 2px 5px;
    font-size: 12px;
    background: #0b5d8d;
    color: #84d4f5;
    text-transform: uppercase;
    border-radius: 3px;
    display: flex;}
.event-date-left p {
    font-size: 14px;
    color: #84d4f5;
    line-height: 24px;
    margin-bottom: 0;
}
.review_btn{width: 150px !important;display: table;
    margin: auto;
    height: 40px !important;
    min-height: 40px !important;
    line-height: 36px !important;margin-top: 10px !important;}
.adlt{color: #84d4f5;}
.paybutton{width: 100%;float: left;}
#recommended h4{color: #84d4f5;}
.pl{padding-left: 0 !important;}
.searchinput1::-webkit-input-placeholder {
   color: #4195be !important;
}
.searchinput1:-moz-placeholder { /* Firefox 18- */
   color: #4195be !important;
}
.searchinput1::-moz-placeholder {  /* Firefox 19+ */
   color: #4195be !important;
}
.searchinput1:-ms-input-placeholder {  
   color: #4195be !important;
}
.fw2 .placeholder-icon:first-child{padding-right: 0 !important;}
#all h4{color: #84d4f5;}
.pl1{padding-right: 0 !important;}
.inputpassword{font-size: 14px !important;}
.inputemail{font-size: 14px !important;}
.home-o{margin-left: 5px;}